.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-header {
  position: sticky;
  top: 0;
  width: 100%;
}

.chat-list {
  overflow-y: auto;
  flex-grow: 1;
  margin-top: 0px;
  margin-bottom: 40px;
}

.chat-input {
  position: fixed;
  bottom: 0;
  width: 100%;
}
